/* styles.css */

body {
  padding: 0;
  margin: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;;
  box-sizing: border-box;
}

header {
  background-color: #fff;
  border-bottom: 2px solid #e0e0e0;
  box-shadow: 0 4px 12px 0  rgba(0, 0, 0,0.08);
  border: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  width: 1390px;
  margin: 0 auto;
  height: 80px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
  
  
}

.logo-img {
  width: 53px;
  height: 36px;
  background-position: -462px 0;
}
 


.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 12px;
}

.nav-links li {
  margin: 0 15px;
  
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 0;
  
}

.nav-links a:hover {
  border-bottom: 2px solid rgb(230, 37, 169);
}
.nav-links a sub{
  top: -.4rem;
  font-size: 12px;
  font-weight:lighter ;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  text-transform: uppercase;
  color: #ff3f6c;
  
  
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.search-input {
  display: inline-block;
    
    font-size: 14px;
    height: 20px;
    line-height: 24px;
    color: #696e79;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 8px 10px 10px;
    margin: 0;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
    width: 400px;
}


/* .search-button {
  
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  margin-left: 5px;
} */

.search-button:hover {
  background-color: #e03e5b;
}

.nav-icons {
  display: flex;
  align-items: center;
}
.icon-bag{
  text-decoration: none;
  color: black;
  font-size: 22px;
  margin-left: 33px;
}


.icon {
  text-decoration: none;
  font-size: 22px;
  color: #000;
  margin-left: 35px;
  position: relative;
}
.badge{
  font-size: 9px;
  font-weight: bold;
  display: block;
  margin-left: -5px;
}
.badge-bag{
  font-size: 9px;
  font-weight: bold;
  display: block;
  
}


.icon:hover {
  
  border-bottom: 3px solid rgb(230, 37, 169);
}
/* footer css */

footer {
  background-color: #f9efef;
  color: #0f0d0d;
  padding: 20px;
  font-size: 13px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 10px;
  flex: 1;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 12px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}
#social-icon{
  font-size: 30px;
}

.footer-section ul li a {
  color: #100e0e;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}
.store-img{
  height: 66px;
  width: 113px;
}
/* main style */
.items-container{
  width: 80%;
  margin-left: 10%;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px 10%;

}

.item-container{
  width: 250px;
  margin-top: 40px;
  cursor: pointer;
 
}
.item-img{
  width: 100%;

}
.rating{
  font-size: 12px;
  font-weight: 700;

}
.company-name{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.item-name{
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}


.pricing{
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}

.current-price{
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;


}
.original-price{

  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;

}
.discount{
  color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}


.btn-add-bg{
  margin-top: 12px;
  font-size: 18px;
  width: 100%;
  background-color: rgb(197, 131, 131);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;

}
.btn-add-bg:hover{
  color: black;
}
.bag-item-count {
  white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    background: #ff3f6c;
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    right: 28px;
    top: 32px;
    font-weight: 700;
}
.hide{
  display: none;
}







